body {
    background: white;
    margin-left: 100px;
    margin-right: 400px;
}

header {
    margin-top: 50px;
}

h1 {
    color: salmon;
    font-family: cursive;
}

h2{
    color: salmon;
    font-family: cursive;
}

p {
    color: slategray;
    font-family: cursive;
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 800px;
}

.logo {
    width: 300px;
}